{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
<link rel="stylesheet" href="{% static "css/style.css" %}"/>
<body>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="col-md-10">
    <a href="{% url 'list' %}">back</a>
<h1>{{ title }}</h1>
    {{instance.content | linebreaksbr}} <br/>
Created : {{instance.timestamp }} <br/>
Updated : {{instance.updated }} <br/>
    </div>

<div class="comments col-md-10 col-md-push-2">
    <h2>Comment</h2>
    {% for foo in  comment %}
        <strong>{{ foo.author }}: </strong>{{ foo.text }}<br>
        <br>

    {% endfor %}

<form method="POST" enctype="multipart/form-data">{% csrf_token %}
    {{ form.as_p }}
<input type="submit" value="Comment">
    </form>

</div>
<script type="text/javascript" href="{% static "js/bootstrap.min.js" %}"></script>

</body>
</html>